 .checkbox-container {
    display: flex;
    align-items: center; /* Center the content vertically */
    margin-bottom: 10px; /* Add spacing between checkboxes */
  }
  
  .checkbox-container input[type='checkbox'] {
    margin-right: 10px; /* Add spacing between the checkbox and label */
  }
  
  /* Customize the checkbox design */
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 3px;
  }
  
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked + .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }