.input-field {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
  }

  .Sub-Title {
    padding: 5px;
    text-align: center;
    font-family: palanquin;
    font-weight: bolder;
  }

  .message {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: palanquin;
  }
  
  .button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: hsl(122, 39%, 49%);
    color: white;
    cursor: pointer;
    outline: none;
  }

  .cta-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #4CA000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #f0f0f0;
  }

a.nav-link:link
{
   color: #fff;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #fff;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #220a8a;
   text-decoration: none;
}


.calculator-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: center;
}

.calculate-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculate-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.result-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}